body {
    font-family: sans-serif;
    background-color: cyan;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    fony-weight: bold;
}

.img-medium {
    height: 250px;
    width:200px;
}

