body {
    font-family: sans-serif;
    background-color: cyan;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    fony-weight: bold;
}

.img-medium {
    height: 250px;
    
    width:500px;
}
.para
{border-style: solid;

 margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 400px;
     width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
     font-family: "Lucida Console",Lucida, Monospace;
}
